@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<AlbumSetEntity>

<div class="card">
    <div class="card-header">
        Resultado de Búsqueda por <b>Álbum</b>
        @if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("ClientId")))
        {
            <br />
            <div class="alert alert-primary" role="alert">
                Para comprar Álbumes, debes <a class="btn btn-outline-primary m-0 p-1" href="#" onclick="ToggleLogin()"><i class="fa fa-user"></i> Iniciar Sesión</a>
            </div>
        }
    </div>
    <div class="card-body">
        @if (Model.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("ClientId")))
                        {
                            <th>
                                Comprar
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("ClientId")))
                            {
                                <td>
                                    <a class="btn btn-outline-dark" asp-action="Create" asp-controller="PurchaseDetails" asp-route-id="@item.AlbumSetId"><i class="fa fa-plus-square"></i></a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                No hay resultados
            </div>
        }
    </div>
</div>